.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	background-color: $white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 40px;
}
.modal__btn-close {
	padding: 5px;
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;
	transition: color $anim-dur $anim-func;
}
.modal__icon-close {
	fill: currentColor;

	&:hover,
	&:focus {
		color: $hover-link-color;
	}
}
