.section {
	padding: 60px 0;
	width: 100%;

	@media screen and (min-width: $bp-desktop) {
		padding: 90px 0;
	}
}
.section__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	margin-bottom: 30px;
}
