.menu {
	display: flex;

	@media screen and (min-width: $bp-tablet) {
		align-items: center;
	}

	@media screen and (max-width: calc($bp-tablet - 1px)) {
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		overflow-y: scroll;
		top: 0;
		left: 0;
		background-color: $white;
		width: 100vw;
		min-width: 320px;
		height: 100vh;
		z-index: 1;
		padding: 48px 40px;
		transform: scaleY(0);
		transform-origin: top;
		transition: transform 100ms $anim-func, visibility 100ms $anim-func;

		&.is-open {
			visibility: visible;
			transform: scaleY(1);
		}
	}
}
.menu__button {
	display: none;

	@media screen and (max-width: calc($bp-tablet - 1px)) {
		display: block;
		position: absolute;
		z-index: 2;
		right: 15px;
		top: 0;
		border: none;
		background-color: transparent;
	}
	&.is-open {
		position: fixed;
		top: 10px;
	}
}

.menu__icon {
	&:hover,
	&:focus {
		fill: $hover-link-color;
	}
}
.icon-cross {
	transform: scale(0);
	transform-origin: center;
	transition: transform 100ms $anim-func;

	.menu__button.is-open & {
		transform: scale(1);
	}
}

.icon-menu {
	transform: scale(1);
	transform-origin: center;
	transition: transform 100ms $anim-func;

	.menu__button.is-open & {
		transform: scale(0);
	}
}
