.menu {
	@media screen and (min-width: $bp-tablet) {
		display: flex;
		align-items: center;
	}

	@media screen and (max-width: calc($bp-tablet - 1px)) {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $white;
		width: 100%;
		min-width: 320px;
		height: 100%;
		min-height: 796px;
		z-index: 1;
		padding: 48px 40px;
		transform: scaleY(0);
		transform-origin: top;
		visibility: hidden;
		transition: transform $anim-dur $anim-func, visibility $anim-dur $anim-func;

		&.is-open {
			visibility: visible;
			transform: scaleY(1);
		}
	}
}
.menu__button {
	display: none;

	@media screen and (max-width: calc($bp-tablet - 1px)) {
		display: block;
		position: absolute;
		z-index: 2;
		right: 15px;
		top: 10px;
		border: none;
		background-color: transparent;
	}
}

.menu__icon {
	&:hover,
	&:focus {
		fill: $hover-link-color;
	}
}
.icon-cross {
	transform: scale(0);
	transform-origin: center;
	transition: transform $anim-dur $anim-func;

	.menu__button.is-open & {
		transform: scale(1);
	}
}

.icon-menu {
	transform: scale(1);
	transform-origin: center;
	transition: transform $anim-dur $anim-func;

	.menu__button.is-open & {
		transform: scale(0);
	}
}
