.page-header {
	border-bottom: 1px solid #ececec;
	@media screen and (max-width: calc($bp-tablet - 1px)) {
		padding: 16px 0;
	}
}
.page-header__container {
	display: flex;
	align-items: center;

	@media screen and (max-width: calc($bp-tablet - 1px)) {
		position: relative;
		min-height: 40px;
	}

	@media screen and (min-width: $bp-tablet) {
		justify-content: space-between;
		margin: 0 auto;
	}
}
