$main-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
$main-text-color: #212121;
$grey-text-color: #757575;
$white: #ffffff;
$dark-bg: #2f303a;
$light-grey-bg: #f5f4fa;
$client-icon-cl: #afb1b8;
$hover-link-color: #2196f3;
$hover-btn: #188ce8;
$anim-dur: 250ms;
$anim-func: cubic-bezier(0.4, 0, 0.2, 1);
