.sub-form {
	display: block;

	@media screen and (max-width: calc($bp-desktop - 1px)) {
		margin-top: 60px;
	}

	@media screen and (min-width: $bp-tablet) {
		flex-basis: 450px;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (min-width: $bp-desktop) {
		flex-basis: 570px;
		padding-top: 5px;
		margin-left: 93px;
	}
}
.sub-form__input-wrap {
	@media screen and (min-width: $bp-desktop) {
		display: flex;
	}
}
.sub-form__input {
	display: block;
	width: 100%;
	padding: 15px 16px;
	background-color: $dark-bg;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;
	color: $white;
	transition: border-color $anim-dur $anim-func;

	&::placeholder {
		color: rgba(255, 255, 255, 0.6);
		letter-spacing: 0.03em;
	}
	&:hover,
	&:focus {
		border-color: $hover-link-color;
	}

	@media screen and (min-width: $bp-desktop) {
		flex-basis: 358px;
	}
}
