.clients__list {
	display: flex;
	flex-wrap: wrap;
	gap: $indent;
}
.clients__item {
	@include flex-basis-calc($indent, $row-items);

	@media screen and (min-width: $bp-tablet) {
		$row-items: 3;
		@include flex-basis-calc($indent, $row-items);
	}

	@media screen and (min-width: $bp-desktop) {
		$row-items: 6;
		@include flex-basis-calc($indent, $row-items);
	}
}
.clients__link {
	border: 1px solid $client-icon-cl;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	padding: 15px 0;
	transition: border-color $anim-dur $anim-func;

	&:hover,
	&:focus {
		border-color: $hover-link-color;
	}
}
.clients__icon {
	fill: $client-icon-cl;
	transition: fill $anim-dur $anim-func;

	.clients__link:hover &,
	.clients__link:focus & {
		fill: $hover-link-color;
	}
}
