.peculiarities{
	@media screen and (min-width: $bp-desktop) {
		padding-bottom: 0;
	}
}
.peculiarities__list {
	@media screen and (min-width: $bp-tablet) {
		display: flex;
		flex-wrap: wrap;
		gap: $indent;
	}
}

.peculiarities__item {
	@media screen and (max-width: calc($bp-tablet - 1px)) {
		&:not(:last-child) {
			margin-bottom: $indent;
		}
	}

	@media screen and (min-width: $bp-tablet) {
		@include flex-basis-calc($indent, $row-items);
	}

	@media screen and (min-width: $bp-desktop) {
		$row-items: 4;
		@include flex-basis-calc($indent, $row-items);
	}
}
.peculiarities__icon-wrap {
	display: flex;
	justify-content: center;
	padding: 25px 0;
	background: $light-grey-bg;
	border-radius: 4px;
}
.peculiarities__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.15;
	text-transform: uppercase;
	margin-top: 30px;

	@media screen and (max-width: calc($bp-tablet - 1px)) {
		text-align: center;
	}
}
.peculiarities__text {
	font-size: 14px;
	line-height: 1.71;
	color: $grey-text-color;
	margin-top: 10px;
}
