.team {
	background: $light-grey-bg;
}
.team__list {
	display: inline-flex;
	margin: 0 auto;
	gap: 30px;
}
.team__item {
	max-width: 270px;
	background: $white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;
}
.team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	margin-top: 30px;
}
.team__profession {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: $grey-text-color;
	margin-top: 10px;
}
.team__social-list {
	margin: 16px auto 0;
}
